<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="driptestutils_createproduct" xsi:type="object">Drip\TestUtils\Console\Command\CreateProductCommand</item>
                <item name="driptestutils_createcustomer" xsi:type="object">Drip\TestUtils\Console\Command\CreateCustomerCommand</item>
                <item name="driptestutils_createscopes" xsi:type="object">Drip\TestUtils\Console\Command\CreateScopesCommand</item>
            </argument>
        </arguments>
    </type>
</config>
