<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dripconnect_general>
            <module_settings>
                <is_enabled>0</is_enabled>
                <salt>some default string</salt>
            </module_settings>
            <api_settings>
                <wis_url>https://woo.drip.sh</wis_url>
                <timeout>30000</timeout>
            </api_settings>
        </dripconnect_general>
    </default>
</config>
