<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dripconnect_general>
            <module_settings>
                <is_enabled>0</is_enabled>
                <salt>some default string</salt>
            </module_settings>
            <api_settings>
                <url>https://api.getdrip.com/v2/</url>
                <timeout>30000</timeout>
                <batch_delay>72</batch_delay>
                <behavior>call_api</behavior>
            </api_settings>
            <actions>
                <sync_customers_data_state>0</sync_customers_data_state>
                <sync_orders_data_state>0</sync_orders_data_state>
            </actions>
        </dripconnect_general>
    </default>
</config>
