<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dripconnect_general>
            <module_settings>
                <salt>some default string</salt>
            </module_settings>
            <api_settings>
                <wis_url>https://woo.drip.sh</wis_url>
                <account_param></account_param>
                <integration_token></integration_token>
                <test_mode>0</test_mode>
            </api_settings>
            <drip_actions>
                <sync>https://getdrip.com/integrations/magento</sync>
            </drip_actions>
        </dripconnect_general>
    </default>
</config>
