<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Drip\Connect\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Drip\Connect\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">dripConnectLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Drip\Connect\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <!-- Inject additional data into the customerData.get("customer") hash for private fetching of email.  -->
    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="additional_section_data" type="Drip\Connect\Model\Plugin\CustomerData" />
    </type>
    <preference for="Drip\Connect\Api\SettingsInterface"
            type="Drip\Connect\Api\Settings" />
    <preference for="Drip\Connect\Api\OrderDetailsInterface"
            type="Drip\Connect\Api\OrderDetails" />
    <preference for="Drip\Connect\Api\ProductDetailsInterface"
            type="Drip\Connect\Api\ProductDetails" />
</config>
