<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_before">
        <observer
            name="drip_connect_customer_save_before"
            instance="Drip\Connect\Observer\Customer\BeforeSave"
            disabled="false" />
    </event>
    <event name="customer_save_commit_after">
        <observer
            name="drip_connect_customer_save_commit_after"
            instance="Drip\Connect\Observer\Customer\AfterSave"
            disabled="false" />
    </event>
    <event name="customer_delete_commit_after">
        <observer
            name="drip_connect_customer_delete_commit_after"
            instance="Drip\Connect\Observer\Customer\AfterDelete"
            disabled="false" />
    </event>
    <!--
    <event name="sales_order_save_before">
        <observer name="drip_connect_sales_order_save_before" instance="Drip\Connect\Observer\BeforeOrderSave"/>
    </event>
    <event name="sales_order_save_commit_after">
        <observer name="drip_connect_sales_order_save_commit_after" instance="Drip\Connect\Observer\AfterOrderSave"/>
    </event>-->
</config>
