<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!--<event name="customer_address_save_before">
        <observer
            name="drip_connect_customer_address_save_before"
            instance="Drip\Connect\Observer\Customer\BeforeAddressSave"
            disabled="false" />
    </event>
    <event name="customer_address_save_commit_after">
        <observer
            name="drip_connect_customer_address_save_commit_after"
            instance="Drip\Connect\Observer\Customer\AfterAddressSave"
            disabled="false" />
    </event>-->
    <!--<event name="customer_login">
        <observer name="drip_connect_customer_login" instance="Drip\Connect\Observer\CustomerLogin"/>
    </event>-->
    <event name="wishlist_add_product">
        <observer name="drip_connect_wishlist_add_product" instance="Drip\Connect\Observer\Wishlist\AddProduct"/>
    </event>
    <event name="controller_action_predispatch_wishlist_index_remove">
        <observer name="drip_connect_controller_action_predispatch_wishlist_index_remove"
                  instance="Drip\Connect\Observer\Wishlist\PredispatchWishlistIndexRemove"/>
    </event>
    <!--
    <event name="sales_quote_save_before">
        <observer name="drip_connect_sales_quote_save_before" instance="Drip\Connect\Observer\BeforeQuoteSaved"/>
    </event>
    <event name="sales_quote_save_commit_after">
        <observer name="drip_connect_sales_quote_save_commit_after" instance="Drip\Connect\Observer\AfterQuoteSaved"/>
    </event>-->
</config>
