<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_address_save_before">
        <observer name="drip_connect_customer_address_save_before" instance="Drip\Connect\Observer\beforeCustomerAddressSaveFront"/>
    </event>
    <event name="customer_address_save_commit_after">
        <observer name="drip_connect_customer_address_save_commit_after" instance="Drip\Connect\Observer\afterCustomerAddressSaveFront"/>
    </event>
    <event name="customer_login">
        <observer name="drip_connect_customer_login" instance="Drip\Connect\Observer\customerLogin"/>
    </event>
    <event name="wishlist_add_product">
        <observer name="wishlist_change_event" instance="Drip\Connect\Observer\addProduct"/>
    </event>
    <event name="controller_action_predispatch_wishlist_index_remove">
        <observer name="data_wishlist_delete" instance="Drip\Connect\Observer\removeProduct"/>
    </event>
    <event name="sales_quote_save_before">
        <observer name="drip_connect_sales_quote_save_before" instance="Drip\Connect\Observer\beforeQuoteSaved"/>
    </event>
    <event name="sales_quote_save_commit_after">
        <observer name="drip_connect_sales_quote_save_commit_after" instance="Drip\Connect\Observer\afterQuoteSaved"/>
    </event>
</config>
