<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_before">
        <observer
            name="drip_connect_customer_save_before"
            instance="Drip\Connect\Observer\Customer\Admin\SaveBefore"
            disabled="false" />
    </event>
    <event name="adminhtml_customer_save_after">
        <observer
            name="drip_connect_adminhtml_customer_save_after"
            instance="Drip\Connect\Observer\Customer\Admin\SaveAfter"
            disabled="false" />
    </event>
</config>
