<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_before">
        <observer
            name="drip_connect_customer_save_before"
            instance="Drip\Connect\Observer\Customer\Admin\SaveBefore"
            disabled="false" />
    </event>
    <event name="adminhtml_customer_save_after">
        <observer
            name="drip_connect_adminhtml_customer_save_after"
            instance="Drip\Connect\Observer\Customer\Admin\SaveAfter"
            disabled="false" />
    </event>
    <event name="newsletter_subscriber_delete_commit_after">
        <observer
            name="drip_connect_newsletter_subscriber_delete_commit_after"
            instance="Drip\Connect\Observer\Customer\SubscriberAfterDelete"
            disabled="false" />
    </event>
    <event name="newsletter_subscriber_save_commit_after">
        <observer
            name="drip_connect_newsletter_subscriber_save_commit_after"
            instance="Drip\Connect\Observer\Customer\SubscriberAfterSave"
            disabled="false" />
    </event>
    <!--
    This is very broken for configurable products, and we don't have a good way
    of fixing this in the short term. Disable it in order to not make a mess of
    data while we work on it. Product data will still be sent as part of order
    and cart events.
    <event name="catalog_product_save_before">
        <observer
            name="drip_connect_catalog_product_save_before"
            instance="Drip\Connect\Observer\Product\SaveBefore" />
    </event>
    <event name="catalog_product_save_after">
        <observer
            name="drip_connect_catalog_product_save_after"
            instance="Drip\Connect\Observer\Product\SaveAfter" />
    </event>
    <event name="catalog_product_delete_before">
        <observer
            name="drip_connect_catalog_product_delete_before"
            instance="Drip\Connect\Observer\Product\DeleteBefore" />
    </event>
    <event name="catalog_product_delete_commit_after">
        <observer
            name="drip_connect_catalog_product_delete_commit_after"
            instance="Drip\Connect\Observer\Product\DeleteAfter" />
    </event>
    -->
</config>
