<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="drip" translate="label" sortOrder="500">
            <label>Drip</label>
        </tab>
        <section id="dripconnect_general" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Drip Connect</label>
            <tab>drip</tab>
            <resource>Drip_Connect::drip</resource>
            <group id="module_settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Module Settings</label>
                <field id="version" translate="label" type="label" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Version</label>
                    <frontend_model>Drip\Connect\Block\System\Config\Version</frontend_model>
                </field>
                <field id="salt" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Security Hash</label>
                    <comment>Put any random string here. If value is 'some default string' replace it with something else. This is used to create abandoned cart links.</comment>
                </field>
            </group>
            <group id="api_settings" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <label>API Settings</label>
                <field id="integration_token" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Drip Integration Token</label>
                    <frontend_model>Drip\Connect\Block\System\Config\Form\Field\Disable</frontend_model>
                </field>
                <field id="account_param" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Drip Account ID</label>
                    <frontend_model>Drip\Connect\Block\System\Config\Form\Field\Disable</frontend_model>
                </field>
                <field id="wis_url" translate="label" type="text" sortOrder="30" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>API Endpoint URL</label>
                </field>
            </group>
            <group id="log_settings" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                <label>Log Settings</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Is Debug Mode Enabled</label>
                    <comment>Logs all requests and responses to var/log/drip.log</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
